.submenu-main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  list-style: none;
}

img {
  width: 50px;
}

.submenu-item {
  position: relative;
  transform: translateY(.5rem);
  transition-delay: 0s;
  padding: 0.315rem 0;
}

.submenu a {
  white-space: nowrap;
  display: block;
  text-decoration: none;
  position: relative;
}

.hover {
  display: inline-block;
}



.submenu {
  position: absolute;
  min-width: 100%;
  left: 0;
  top: 100%;
  z-index: 1;
  padding: 1.25rem 0 0;
  pointer-events: none;
  color: #1e2432;
}

.submenu-background {
  position: absolute;
  top: -2.5rem;
  left: -1.85rem;
  right: -2.5rem;
  bottom: -1.25rem;
  pointer-events: none;
  border-radius: 0.875rem;
  background-color: #fff;
  box-shadow: 0 .69444vw 1.38889vw rgba(89, 102, 132, .12);
  transform: translateX(1rem);
}

.submenu-background,
.submenu-item {
  opacity: 0;
  transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-property: opacity, transform;
}

.menu-item:hover .submenu-background,
.menu-item:hover .submenu-item {
  opacity: 1;
  transform: translateY(0);
}



.header {
  width: 100%;
  top: 0;
  left: 0;
  font-size: 0.875rem;
  font-weight: 600;
  z-index: 100;
  position: absolute;
}

.header-inner {
  display: flex;
  flex-direction: row;
  top: 20px;
  width: 90%;
  height: 60px;
  margin: auto;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.logo {
  background: black;
  width: 3.75rem;
  height: 3.75rem;
  margin-right: 1.875rem;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.umenu {
  width: 50%;
  color: #fff;
}

.umenua {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.menu-item {
  margin-right: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.menu-item-label {
  display: block;
  text-decoration: none;
  z-index: 2;
}

.menu-item-arrow {
  position: absolute;
  top: 0.35rem;
  right: -0.85rem;
}

nav {
  display: block;
}




/* Buttons */


.umenu-item {
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.btn {
  cursor: pointer;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #000;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  background-color: #fff;
  border-radius: 300px;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.effect04::before,
.effect04 span{
    margin: 0 auto;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	transition-duration: 0.4s;
}

.effect04:hover{

  background-color: #000;
}

.effect04:hover span{
  -webkit-transform: translateY(-400%) scale(-0.1,20);
          transform: translateY(-400%) scale(-0.1,20);
}

.effect04::before{
  content: attr(data-sm-link-text);
	color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1,20);
          transform: translateY(500%) scale(-0.1,20);
}

.effect04:hover::before{
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1,1);
          transform: translateY(0) scale(1,1);
}


/* /Buttons */

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 1.286;
  font-weight: 400;
}

.title h2{
  font-size: 2vw;
}

.title h1{

  font-size: 3.86vw;
}

.title-line {
  overflow: hidden;
  margin: 0.625rem 0rem -0.625rem 0rem;
  padding-bottom: 0.3rem;
  white-space: nowrap;
  display: block;
  position: relative;
}

.title-char {
  display: inline-block;
  position: relative;
}

.title-strip {
  height: 2px;
  display: block;
  position: absolute;
  left: 0.375rem;
  right: 0;
  bottom: 0;
  background-color: #1e2432;
  text-align: start;
}

.container {
  display: block;
  position: relative;
}

.page {
  height: 100vh;
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #1e2432;
}

.section-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 49vw;
  padding-top: 15.5vh;
  padding-bottom: 0;
  padding-right: 4vw;
  padding-left: 8.5vw;
  background: #fff;
}

.section-right {
  width: 51vw;
  position: relative;
  top: 0;
}

.txt {
  color: #687086;
}

.slider {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background: #0198ff;
}

/* INTRO */

.intro{
display: block;
width: 49vw;
height: 25vw;
z-index: 1;
padding: 5.5vw 8.8vw 2.7vw;
position: absolute;
top: 0;
left: 0; 
}

.intro-inner{
  position: relative;
  padding: 0 0 1px;
}

.intro-page{
  position: relative;
  margin: 0 auto;
  width: 100%;
  color: #1e2432;
}

.intro-item-container{
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

.intro-item-wrapper{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.intro-title-proxy{
  position: relative;
}

.intro-item-bg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: 50% 100%;
  box-shadow: none;
  transform: scale(1);
  transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-property: transform, box-shadow;
  overflow: hidden;
}


.intro-item-bg-h{
  display: block;
  width: 230%;
  height: 230%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%) scale(0);
  opacity: 1;
  transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1), opacity .5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.intro-item:hover .intro-item-bg-h{
  transform: translate(-50%, 50%) scale(1);
}

.intro-item:hover .intro-item-bg{
  transform: scale(1.05);
  box-shadow: 0 1.3vw 2.7vw rgba(0,0,0,0.05);
}

/* /INTRO */